<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>



<ul class="nav nav-tabs">
  <li><a data-toggle="tab" href="registrarJugador/{{idEquipo}}">Registrar</a></li>
  <li><a data-toggle="tab" href="eliminarJugador/{{idEquipo}}">Eliminar</a></li>
  <li><a data-toggle="tab" href="modificarJugador/{{idEquipo}}">Modificar</a></li>
  <li class="active"><a data-toggle="tab" href="listarJugador/{{idEquipo}}">Listar</a></li>
</ul>

{{idEquipo}}
